<form class="form-group">

    <div *ngIf="agenda.id_agenda == null" class="form-group" style="text-align: center;">
        Tambah Agenda</div>
    <div *ngIf="agenda.id_agenda != null" class="form-group" style="text-align: center;">
        Edit Agenda</div>

    <div class="form-group">
        Judul Agenda :
        <input type="text" [(ngModel)]="agenda.judul_agenda" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Masukan Judul" aria-describedby="basic-addon1">
    </div>
    <div class="form-group">
        Isi Agenda :
        <textarea [(ngModel)]="agenda.isi_agenda" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Masukan Isi">
       </textarea>
    </div>
    <div class="form-group">
        Tanggal Agenda :
        <input type="date" [(ngModel)]="agenda.tanggal_agenda" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Masukan Tanggal" aria-describedby="basic-addon1">
    </div>

    <div class="form-group" style="text-align: center;">
        <button *ngIf="agenda.id_agenda == null" class="btn btn-warning" (click)="prosesTambah()">PROSES TAMBAH</button>
        <button *ngIf="agenda.id_agenda != null" class="btn btn-warning" (click)="prosesEdit()">PROSES EDIT</button>
    </div>

</form>