<form class="form-group">
    <div class="form-group" style="text-align: center;">LOGIN</div>
    <div class="form-group">
        Email :
        <input type="email" [(ngModel)]="loginData.email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Masukan Email" aria-describedby="basic-addon1">
    </div>
    <div class="form-group">
        Password :
        <input type="password" [(ngModel)]="loginData.password" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Masukan Password" aria-describedby="basic-addon1">
    </div>
    <div class="form-group" style="text-align: center;">
        <button class="btn btn-warning" (click)="login()">LOGIN</button>
    </div>
    <pre>{{user.api_token}}</pre><pre>{{user.message}}</pre>
    <pre>{{user.login}}</pre>
    <pre>Save API Token : {{api_token}}</pre>
</form>