<div class="row" style="margin-top: 10px;">
    <button class="btn btn-warning" (click)="goBack()">go back</button>
</div>
<div class="row">
    <div class="col-3">
        <h3>{{movie.title}}</h3>
        <h6>Rating {{movie.popularity|number}}</h6>
        <img [src]="movie.poster_path" />
    </div>
    <div class="col-9">
        <div class="alert alert-info">
            <h4>original language : {{movie.original_language}}|
                <span *ngIf="movie.adult" class="text text-warning">Adult</span>
                <span *ngIf="!movie.adult" class="text text-primary">Non Adult</span> | Release Date : {{movie.release_date|date:'dd/MMM/yyyy @ h:mma'}}
            </h4>
        </div>
        <p>{{movie.overview}}</p>
    </div>
</div>