<div class="row">
    <div class="col-12">
        <h4>Daftar Agenda</h4>
    </div>
    <div class="col-10"> &nbsp;</div>
    <div class="col-2">
        <button class="btn btn-xs btn-primary" (click)="addForm()">TAMBAH</button>
    </div>
    <div class="col-12"> &nbsp; </div>
    <div class="col-12">
        <table class="table">
            <tr class="table-primary">
                <th>Tanggal</th>
                <th>Judul</th>
                <th>Aksi</th>
            </tr>
            <tr *ngIf="loader">
                <td colspan="3" class="text-center" style="height: 400px; vertical-align: middle;">
                    <div class="spinner-border text-center" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let row of agendas.data">
                <td> {{row.tanggal_agenda|date}} </td>
                <td> {{row.judul_agenda}} </td>
                <td>
                    <button class="btn btn-xs btn-warning" (click)="editForm(row.id_agenda)">EDIT</button> |
                    <button class="btn btn-xs btn-danger" (click)="delete(row.id_agenda)">HAPUS</button>
                </td>
            </tr>
        </table>
    </div>
</div>