<h4>List Movie</h4>
<div class="row">
    <div *ngFor="let movie of movies" class="col-3">
        <a routerLink="/movie-detail/{{movie.id}}">
            <h6>{{movie.title}} - {{movie.popularity}}</h6>
            <img [src]="movie.poster_path" />
        </a>
        <p>
            {{movie.overview.substring(0, 200)}}
        </p>
    </div>
</div>