<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
    {{ nameApp }}
</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Daftar Film </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/profile">Profile </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/agenda">Daftar Agenda </a>
            </li>


        </ul>

    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>